<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/header.css">
    <link rel="stylesheet" href="/public/stylesheets/body.css">

    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo"><h3>DEVELOPEDBY<span>JANAKA</span></h3></div>
            <div class="night-mood">
                <div class="cloud-sun"><i id="night_mode" class="fas fa-cloud-sun hellow fa-2x"></i></div>
                <div class="cloud-sun-rain"> <i class="fas fa-cloud-sun-rain fa-2x"></i> </div>
                
                <!-- <i class="fas fa-moon fa-2x"></i> -->
                <!-- <i class="far fa-sun fa-2x"></i> -->
            </div>
            <div class="nav-items">
                <ul class="nav-list">
                    <li><a href="">Contact</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
            <div class="burger"><i class="fas fa-bars fa-2x"></i></div>
        </div>
        <div class="nav-items-mobile">
            <ul class="nav-list-mobile">
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>

        