<%- include("partials/header") %> 
<div class="social">
    <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
    <a href=""><i class="fab fa-github fa-2x"></i></a>
    <a href=""><i class="fab fa-instagram fa-2x"></i></a>
    <a href=""><i class="fab fa-facebook fa-2x"></i></a>   
</div>

<div class="main">

    <div class="title">
        <div class="titleheader"><h1>Hi, I'm Janaka</h1></div>
        <div class="description">
            <p id="word"></p><p>_|</p>
        </div>
    </div>
</div>
<div class="sub-title">
    <div class="title-text">Projects<i class="fas fa-project-diagram"></i></div>
</div>
<div class="projects-main">
    <div class="projects-container projects-container-one">
        <h3>Campground</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, esse?</p>
    </div>
    <div class="projects-container projects-container-two">
        <h3>helloworld</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, esse?</p>
    </div>
    <div class="projects-container projects-container-three">
        <h3>helloworld</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, esse?</p>
    </div>
    <div class="projects-container projects-container-one">
        <h3>helloworld</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, esse?</p>
    </div>
    <div class="projects-container projects-container-two">
        <h3>helloworld</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, esse?</p>
    </div>
</div>

<!-- /////////////about section /////////////////// -->

<div class="sub-title">
    <div class="title-text">About Me<i class="fas fa-address-card"></i></div>
</div>
<div class="about-main">
    <div class="about-des">
        <div class="des"> <p> I am a self-taught, as well as bootcamp graduate, full-stack developer, eager to keep on learning. I am passionate about creating innovative solutions aiming for smooth user experiences while keeping a high functionality and paying attention to details. I love organization and structure and therefore put a high emphasis on clean, elegant and efficient code with a mobile-first approach to ensure responsive design</p></div>
        <div class="skills">
            <div class="skills-title ">
                <div class="title">Frameworks</div>
                <p>javascript</p>
                <p>Tailwind Css</p>
                <p>Bootstrap</p>
                <p>Python</p>

            </div>
            <div class="skills-title ">
                <div class="title">Languages</div>
                <p>javascript</p>
                <p>Tailwind Css</p>
                <p>Bootstrap</p>
                <p>Python</p>

            </div>
            <div class="skills-title ">
                <div class="title">Technologies</div>
                <p>javascript</p>
                <p>Tailwind Css</p>
                <p>Bootstrap</p>
                <p>Python</p>

            </div>
        </div>
    </div>
    <div class="about-photo">
        <div class="about-img">
        </div>
        <div class="about-d">
            <p>Nuwaraeliya, Sri Lanka</p>
            <div class="about-b">
                <button class="btn">Resume</button>
                <button class="btn">Contact Me</button>
            </div>

        </div>

    </div>
</div>

<div class="sub-title">
    <div class="title-text">Get In touch<i class="fas fa-address-card"></i></div>
</div>

<div class="contact-section">
    <form class="contact-form">
        <div class="email-section">
            <div class="c-email">
                <label for="">Email</label>
                <input type="email"></div>
            <div class="c-name">
                <label for="">Name</label>
                <input type="text"></div>
        </div>
        <div class="c-body">
            <label for="">Message</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="submit-b">
            <button class="btn form-submit" type="submit">Send</button>
        </div>
    </form>
</div>



<%- include("partials/footer") %> 